body { margin: 0; padding: 0; }

.numeroTelefono {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 30px;
}

.numeroTelefono p,
.numeroTelefono h1 {
    margin-bottom: 0px;
}

.aboutUs {
    background-color: #f1f3f7;
    margin-top: 30px;
    padding-bottom: 10px;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cardInfo {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardInfo img {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cardInfo p {
    font-size: 1.5vw;
}

.cardInfo strong {
    font-size: 30px;
}

.buttonAboutUs {
    display: block;
    background-color: #b6e4db;
    margin-top: 10px;
    border: 0px white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-left: auto;
    margin-right: auto;
}

.buttonAboutUs:hover {
    background-color: #22577a;
}

@media (max-width: 767px) {
  .infoContainer {
    flex-wrap: wrap;
  }

  .cardInfo p {
    font-size: 14px;
  }

  .numeroTelefono {
    flex-direction: column;
  }

  .numeroTelefono div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}