.footer {
  background-color: var(--azul-petroleo); /* #22577a */
  font-size: 0.9rem;
}
.footer .py-5 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.my-4 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
p {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.footer-logo {
  max-height: 80px;
}

.footer h6 {
  margin-bottom: 1rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--rosa); /* hover en rosa suave */
}

.footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* Redes sociales */
.social-link {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s;
}

.social-link:hover {
  color: var(--celeste);
}

/* Responsive */
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }

  .footer .social-link {
    font-size: 2rem; /* un poquito más grandes en móviles */
    margin: 0 10px;
  }

  .footer h6 {
    margin-top: 1rem;
  }
}
