.sidebar {
  width: 70px;                     
  display: flex;                   
  flex-direction: column;         
  gap: 20px;                      
  align-items: center;            
  justify-content: center;       
  border: 3px solid var(--rosa);   
  border-radius: 12px;             
  padding: 15px;                  
  position: fixed;                
  top: 50%;                      
  left: 20px;                     
  transform: translateY(-50%);     
  background-color: white;        
}


.sidebar-link {
  color: var(--azul-petroleo);
  text-decoration: none;
  margin: 15px 0;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: var(--verde-agua);
  color: white;
}
